body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    /*top: 100px;*/
}

/* Put your css in here */
section {
    min-height: 300px;
}


.sort-button {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}
