<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a class="navbar-brand" href="#/title">Nike Flix</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/title">Titles</a></li>
        <li><a href="#/user" ng-show="!headerCtrl.isLoggedin()">User</a></li>
        <li><a ng-show="headerCtrl.isLoggedin()" ng-click="headerCtrl.logout()" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>