<h1>Titles</h1>
<div class="container">
    <div class="row" ng-show="titleCtrl.isAdmin()">
        <script type="text/ng-template" id="AddTitleModal">
        <div class="modal-header">
            <h3 class="modal-title">Add Tilte <a ng-href="http://www.imdb.com/title/{{AddTitleCtrl.title.imdbID}}" target="_blank">{{AddTitleCtrl.title.Title}} ({{AddTitleCtrl.title.Year}}) - {{AddTitleCtrl.title.Type}}</a></h3>
        </div>
        <div class="modal-body">
            <div class="col-sm-4">
              <a ng-href="http://www.imdb.com/title/{{AddTitleCtrl.title.imdbID}}" target="_blank"><img height="300" width="180" ng-src="{{AddTitleCtrl.title.Poster}}"></img></a>
            </div>
            <div class="col-sm-8">
              <table class="table table-striped">
                  <tr>
                    <th>Actors</th>
                    <td>{{AddTitleCtrl.title.Actors}}</td>
                  </tr>
                  <tr>
                    <th>Director</th>
                    <td>{{AddTitleCtrl.title.Director}}</td>
                  </tr>
                  <tr>
                    <th>Writer</th>
                    <td>{{AddTitleCtrl.title.Writer}}</td>
                  </tr>
                  <tr>
                    <th>Genre</th>
                    <td>{{AddTitleCtrl.title.Genre}}</td>
                  </tr>
                  <tr>
                    <th>Runtime</th>
                    <td>{{AddTitleCtrl.title.Runtime}} min.</td>

                  </tr>
                  <tr>
                    <th>Plot</th>
                    <td>{{AddTitleCtrl.title.Plot}}</td>
                  </tr>
                  <tr>
                    <th>imdb Rating</th>
                    <td>{{AddTitleCtrl.title.imdbRating}}</td>
                  </tr>
              </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="AddTitleCtrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="AddTitleCtrl.cancel()">Cancel</button>
        </div>
    </script>
    <form ng-submit="titleCtrl.getTitleIMDB()">
      <div class="col-xs-3">
          <input type="text" ng-model="titleCtrl.AddTitle" class="form-control" placeholder="Enter IMDB ID to Add" ng-minlength="4" required>
      </div>
      <div class="col-xs-1">
          <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus">Add Title</span></button>
      </div>
    </form>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <form class="form-horizontal" ng-submit="titleCtrl.searchTitle()">
                <div class="input-group col-sm-6">
                    <input type="text" placeholder="Part of a Title ..." class="form-control" ng-model="titleCtrl.searchTitleInput" required/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            <form>
        </div>

        <div class="col-md-1">
          <button ng-click="titleCtrl.getTopRated()" class="btn btn-success">Top Rated</button>
        </div>

        <div class="col-md-2">
            <select class="form-control" ng-change="titleCtrl.filterTitles('year')" ng-model="titleCtrl.selectedYear">
                <option value disabled selected>Year</option>
                <option ng-repeat="year in titleCtrl.filterYears" value="{{year}}">{{year}}</option>
            </select>
        </div>

        <div class="col-md-2">
            <select class="form-control" ng-change="titleCtrl.filterTitles('type')" ng-model="titleCtrl.selectedType">
                <option value disabled selected>Type</option>
                <option ng-repeat="type in titleCtrl.filterTypes" value="{{type}}">{{type}}</option>
            </select>
        </div>

        <div class="col-md-2">
            <select class="form-control" ng-change="titleCtrl.filterTitles('genre')" ng-model="titleCtrl.selectedGenre">
                <option value disabled selected>Genre</option>
                <option ng-repeat="genre in titleCtrl.filterGenres" value="{{genre}}">{{genre}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Poster</th>
                  <th>Title</th>
                  <th><button class="sort-button" ng-click="titleCtrl.sortTitle('Year')"><span class="glyphicon glyphicon-sort">Year</span></th>
                  <th>Runtime</th>
                  <th>Genre</th>
                  <th>Director</th>
                  <th>Actors</th>
                  <th>Writer</th>
                  <th><button class="sort-button" ng-click="titleCtrl.sortTitle('imdbrating')"><span class="glyphicon glyphicon-sort">imdb Rating</span></th>
                  <th><button class="sort-button" ng-click="titleCtrl.sortTitle('imdbvotes')"><span class="glyphicon glyphicon-sort">imdb Votes</span></th>
                  <th>Type</th>
                  <th ng-show="titleCtrl.isAdmin()" ng-click="titleCtrl.deleteTitle('id')"">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="title in titleCtrl.titles">
                  <td><a ng-href="http://www.imdb.com/title/{{title.imdbId}}"><img height="100" width="100" ng-src="{{title.poster}}"></img></a></td>
                  <td><a ng-href="#/title/{{title.id}}">{{title.title}}</a></td>
                  <td>{{title.year}}</td>
                  <td>{{title.runtime}} min.</td>
                  <td>{{title.genre}}</td>
                  <td>{{title.director}}</td>
                  <td>{{title.actors}}</td>
                  <td>{{title.writer}}</td>
                  <td>{{title.imdbRating}}</td>
                  <td>{{title.imdbVotes}}</td>
                  <td>{{title.type}}</td>
                  <td ng-show="titleCtrl.isAdmin()"><a ng-click="titleCtrl.deleteTitle(title.id)">Delete</a></td>
                </tr>
                <pagination
                  ng-model="titleCtrl.currentPage"
                  total-items="titleCtrl.titles.length"
                  max-size="1"
                  boundary-links="true">
                </pagination>
              </tbody>
            </table>
        </div>
    </div>
</div>